<h1 class="page-header">Listing api_configs</h1>

<div class="well">
<%= link_to 'New Api config', new_api_config_path, class: "btn btn-primary" %>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_configs.each do |api_config| %>
      <tr>
        <td><%= api_config.username %></td>
        <td><%= link_to 'Leads', api_config_lead_index_path(api_config) %></td>
        <td><%= link_to 'Show', api_config %></td>
        <td><%= link_to 'Edit', edit_api_config_path(api_config) %></td>
        <td><%= link_to 'Destroy', api_config, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
