<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lead_helper.title %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @lead_helper.phone %>
</p>

<p>
  <strong>Company:</strong>
  <%= @lead_helper.company %>
</p>

<p>
  <strong>Email,:</strong>
  <%= @lead_helper.email, %>
</p>

<p>
  <strong>First name:</strong>
  <%= @lead_helper.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @lead_helper.last_name %>
</p>

<%= link_to 'Edit', edit_lead_helper_path(@lead_helper) %> |
<%= link_to 'Back', lead_helpers_path %>
