<!DOCTYPE html>
<html>
<head>
  <title>RdApp</title>
  <%= stylesheet_link_tag "/css/bootstrap.min.css", media: "all" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "/js/bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
